[submodule "vcsrepo"]
	path = vcsrepo
	url = git://github.com/puppetlabs/puppet-vcsrepo.git
[submodule "apt"]
	path = apt
	url = https://github.com/evolvingweb/puppet-apt
[submodule "mcollective-plugins"]
	path = mcollective-plugins
	url = git://github.com/puppetlabs/mcollective-plugins.git
