[submodule "stdlib"]
	path = stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "ntp"]
	path = ntp
	url = git://github.com/kickstandproject/kickstandproject-ntp.git
[submodule "ssh"]
	path = ssh
	url = git://github.com/kickstandproject/kickstandproject-ssh.git
[submodule "puppet"]
	path = puppet
	url = git://github.com/kickstandproject/kickstandproject-puppet.git
[submodule "apache"]
	path = apache
	url = git://github.com/kickstandproject/kickstandproject-apache.git
